@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />


<div id="homepage" class="text-center">
    <h1 class="display-4">Clipper Cuts</h1>
    <p>Step up your style game with a fresh cut from Sharp Cuts.
        Expert barbers, top-notch products, and a welcoming atmosphere.
        Book your appointment today! Get it sharp!!</p>
    <div>
        <a href="#" class="btn">Book Now</a>
        <a href="#" class="btn">Services</a>
    </div>
</div>
